<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.BoardMapper">
 
  <select id="getList" resultType="org.zerock.domain.BoardVO">
    <!-- 매우 긴코드를 따로 빼서 작업해줌 -->
    
    <!-- tag가 잘못 인식하지 않도록 CDATA라는 문법으로 묶어주는 역할 -->
    <![CDATA[ 
    SELECT 
    	bno bno,
    	title title,
    	content content,
    	writer writer,
    	regdate regdate,
    	updatedate updatedate
    
     FROM tbl_board
     
     WHERE bno > 0 ORDER BY bno DESC
    ]]>
   
    
  </select>
  
   <select id="getListWithPaging" resultType="org.zerock.domain.BoardVO">
    <!-- 매우 긴코드를 따로 빼서 작업해줌 -->
    
    <!-- tag가 잘못 인식하지 않도록 CDATA라는 문법으로 묶어주는 역할 -->
    <![CDATA[ 
    SELECT 
    	bno bno,
    	title title,
    	content content,
    	writer writer,
    	regdate regdate,
    	updatedate updatedate
    
     FROM tbl_board
     
   	 ORDER BY bno DESC
     
     LIMIT #{from}, #{amount} 
    ]]>
   
    
  </select>
   
  <insert id="insert">
  	INSERT INTO tbl_board (title, content, writer)
  	VALUES (#{title}, #{content}, #{writer})
  </insert>
  

  <insert id="insertSelectKey" useGeneratedKeys="true" keyProperty="bno" keyColumn="bno">
  	INSERT INTO tbl_board(title, content, writer)
  	VALUES (#{title}, #{content}, #{writer})
  </insert>
  
  <select id="read" resultType="org.zerock.domain.BoardVO">
  	SELECT
  	bno bno,
  	title title,
  	content content,
  	writer writer,
  	regdate regdate,
  	updatedate, updateDate
  	FROM tbl_board
  	WHERE bno = #{bno}
  
  </select>
  
  <delete id="delete">
  	DELETE FROM tbl_board WHERE bno = #{bno}
  </delete>
  
  <update id="update">
  	UPDATE tbl_board 
  	SET 
  		title = #{title},
  		content = #{content},
  		writer = #{writer},
  		updateDate = NOW()
  	
  	WHERE
  		bno = #{bno}
  	
  </update>
  
  <select id="getTotalCount" resultType="int">
  	SELECT COUNT(*) FROM tbl_board
  </select>
  
</mapper>